@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color-texto: #060A24;
    --color-subtitulos: #FFFFFF;    

    --color-primario: #0000FF;
    --color-secundario: #0000A3;
    --color-terciario: #00F3BB;
    --color-enlances-active: #838592;

    --fuente-titulo: "IBM Plex Sans", sans-serif;
    --fuente-texto: "IBM Plex Mono", monospace;
    --fuente-enlace: "IBM Plex Mono-Medium", monospace;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html {
    font-size: 16px;
}


body {
    color: var(--color-texto);
    height: 100vh;
}


a {
    color: var(--color-texto);
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 1.875rem 20rem 1.875rem 20rem;
    font-family: var(--fuente-texto);
    font-size: 1rem;
    word-spacing: 2rem;
    width: 100%;
}


.header__logo {
    height: 36px;
    width: 36px;
}


.header__nav__link:hover {
    color: var(--color-terciario);
    text-decoration: line-through;
}


.header__nav__link:active {
    color: var(--color-enlances-active);
    text-decoration: line-through;
}


.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-uno {
    display: flex;
    flex-direction: column;
    width: 90rem;
    padding-left: 12.5rem;
}


.section-uno__titulo {
    font-family: var(--fuente-titulo);
    font-size: 4rem;
    font-weight: normal;
    color: var(--color-texto);
    margin-bottom: 1rem;
    padding-top: 3.75rem;
}


.titulo-world {
    text-decoration: line-through;
}


.titulo-punto {
    color: var(--color-primario);
}


.section-uno__texto {
    font-family: var(--fuente-texto);
    font-size: 1rem;
    margin-bottom: 2rem;
    width: 50%;
    padding-bottom: 2.5rem;
}


.section-uno__enlaces {
    display: flex;
    width: 14.125rem;
    height: 3.5rem;
}


.section-uno__enlaces__link {
    font-family: var(--fuente-enlace);
    font-size: 1.125rem;
    font-weight: bold;
    width: 14.125rem;
    background-color: var(--color-terciario);
    align-content: center;
    text-align: center;
}


.section-uno__enlaces__link:hover {
    color: #FFFFFF;
    background-image: linear-gradient(to right, var(--color-terciario), var(--color-primario));
}


.section-dos {    
    width: 90rem;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    position: relative;
    overflow: hidden;
    padding-top: 6.25rem;
    padding-left: 4.6875rem;
}


.section-dos::before {
    content: "";
    background-image: linear-gradient(to right, var(--color-secundario), var(--color-primario));
    position: absolute;
    top: 5rem;
    left: -5vw;
    width: 125rem;
    height: 200%;
    transform: rotate(-7deg);
    z-index: -1;
}


.section-dos__subtitulo {
    font-family: var(--fuente-titulo);
    font-size: 3rem;
    font-weight: normal;
    color: var(--color-subtitulos);  
    padding-top: 7rem;
    padding-left: 7.5rem;
}


.section-dos__imagenes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-right: 4.375rem;
    gap: 4rem;
}


.section-tres {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 1.875rem;
    justify-content: center;
    gap: 4.375rem;
    width: 90rem;
    position: relative;
    overflow: hidden;
    padding-top: 4.0625rem;
}


.section-tres::before {
    content: "";
    background-image: linear-gradient(to right, var(--color-secundario), var(--color-primario));
    position: absolute;
    top: -10rem;
    width: 125rem;
    height: 50%;
    transform: rotate(-7deg);
    z-index: -1;
}


.section-tres__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32.2%;
    gap: 1.5625rem;
}


.section-tres__subtitulo {
    font-family: var(--fuente-titulo);
    font-size: 3rem;
    font-weight: normal;
}


.section-tres__subtitulo__parrafo {
    font-family: var(--fuente-texto);
    font-size: 1rem;
    width: 100%;
}


.section-tres__imagen {
    width: 25rem;
    height: 41.25rem;
}


.section-cuatro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90rem;
}


.section-cuatro__subtitulo {
    font-family: var(--fuente-titulo);
    font-size: 3rem;
    font-weight: normal;
    padding: 5rem 0 3rem 12rem;
}


.section-cuatro__imagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}


.section-cinco {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
}


.section-cinco__subtitulo {
    font-family: var(--fuente-titulo);
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 5rem;
    padding-left: 20.625rem;
}


.section-cinco__temas {
    display: flex;
    flex-direction: row;
    padding-left: 21.875rem;
    padding-right: 21.875rem;
    gap: 3rem;
}


.section-cinco__temas__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.section-cinco__temas__item__parrafo {
    font-family: var(--fuente-titulo);
    font-size: 1.5rem;
    font-weight: bold;
    width: 13.75rem;
    height: auto;
    margin-top: 1.25rem;
}


.section-seis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding-top: 12.5rem;
    position: relative;
    height: auto;
    overflow: hidden;
    width: 90rem;
}


.section-seis::before {
    content: "";
    background-image: linear-gradient(to right, var(--color-secundario), var(--color-primario));
    position: absolute;
    top: 9rem;
    left: -80vw;
    width: 200vw;
    height: 100%;
    transform: rotate(-7deg);
    z-index: -1;
}


.section-seis__subtitulo {
    font-family: var(--fuente-titulo);
    font-size: 3rem;
    font-weight: normal;
    color: white;
}


.section-seis__enlaces__link {
    display: flex;
    background-color: var(--color-terciario);
    font-family: var(--fuente-enlace);
    color: var(--color-texto);
    font-weight: bold;
    width: 21.5625rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 9.375rem;
}


.section-seis__enlaces__link:hover {
    color: #FFFFFF;
    background-image: linear-gradient(to right, var(--color-terciario), var(--color-primario));
}


.footer {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    z-index: 1;
    background-color: #FFFFFF;
    padding: 0 350px;
}


.footer__texto {
    font-family: var(--fuente-texto);
    font-size: 1rem;
    color: var(--color-texto)
}


.footer__logos {
    display: flex;
    gap: 2rem;
}


.footer__logos__logo {
    width: 1.75rem;
    height: 1.75rem;
}

