@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color-texto: #060A24;
    --color-subtitulos: #FFFFFF;    

    --color-primario: #0000FF;
    --color-secundario: #0000A3;
    --color-terciario: #00F3BB;

    --fuente-titulo: "IBM Plex Sans", sans-serif;
    --fuente-texto: "IBM Plex Mono", monospace;
    --fuente-enlace: "IBM Plex Mono-Medium", monospace;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    box-sizing: border-box;
    color: var(--color-texto);
    width: 100%;
    overflow-x: hidden;
}


a {
    color: var(--color-texto);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 100px 16px 100px;
}


.header__logo {
    height: 36px;
    width: 36px;
}


.header__nav {
    font-family: var(--fuente-texto);
    font-size: 1rem;
    word-spacing: 28px;
}


.header__nav__link:hover {
    color: var(--color-terciario);
    text-decoration: line-through;
}


.header__nav__link:active {
    color: #838592;
    text-decoration: line-through;
}


.presentacion {
    display: flex;
    flex-direction: column;
}


.section-uno {
    padding: 100px 200px 10px 300px;
}


.section-uno__titulo {
    font-family: var(--fuente-titulo);
    font-size: 4rem;
    color: var(--color-texto);
    margin-bottom: 1rem;
}


.titulo-world {
    width: 50.2%;
    text-decoration: line-through;
}


.titulo-punto {
    color: var(--color-primario);
}


.section-uno__texto {
    font-family: var(--fuente-texto);
    font-size: 1rem;
    margin-bottom: 2rem;
    width: 43.6%;
}


.section-uno__enlaces {
    display: flex;
    width: 226px;
    height: 56px;
}


.section-uno__enlaces__link {
    font-family: var(--fuente-enlace);
    font-size: 1.125rem;
    font-weight: bold;
    width: 226px;    
    background-color: var(--color-terciario);
    align-content: center;
    text-align: center;
    padding: 1.4% 0;
}


.section-uno__enlaces__link:hover {
    color: #FFFFFF;
    background-image: linear-gradient(to right, var(--color-terciario), var(--color-primario));
}


.section-dos {    
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 60px;    
    position: relative;    
}


.section-dos::before {
    background-image: linear-gradient(to right, var(--color-secundario), var(--color-primario));
    content: "";
    position: absolute;
    top: -25px; /* Ajusta para que cubra la parte superior */
    left: -70px; /* Ajusta para que cubra la parte izquierda */
    width: 120%; /* Ajusta el ancho para cubrir los lados rotados */
    height: 120%; /* Ajusta la altura para cubrir los lados rotados */
    background-image: linear-gradient(to right, var(--color-secundario), var(--color-primario));
    transform: rotate(-7deg);
    z-index: -1; /* Coloca el fondo detrás del contenido */
}


.section-dos__subtitulo {
    font-family: var(--fuente-titulo);
    font-size: 3rem;
    color: var(--color-subtitulos);
    width: fit-content;
    padding-left: 300px;
    padding-top: 20px;
}


.section-dos__imagenes {
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    padding-right: 70px;
    gap: 50px;
    z-index: 1; /* Asegura que esté encima del fondo */
}

.section-dos__imagenes__imagen {
    width: 100%;
    height: auto;
}













.logo {
    width: 18px;
    height: 28px;
}